.navbar{
  background-color: beige;
  text-align: end;
}
.homepage{
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}
body{
  background-color: beige;
}